/* FONTS ------------------------------------------------------------ */

/* FONTS ------------------------------------------------------------ */
:root {
  --header-height: 3em;
  --header-padding: 0.4em;
  --header-listed-height: calc(
    var(--header-height) - (2 * var(--header-padding))
  );
  --modal-padding: 2em;
}

/* COLOR VARIABLES -------------------------------------------------- */
:root {
  --bg-blue: #a7d7eb;
  --bg-gray: #ededed;
  --main-bg-gradient: var(--bg-blue), var(--bg-gray);
  --container-border: white;
  --container-bg: rgba(255, 255, 255, 0.65);
  --logo-light: #3fbaff;
  --logo-dark: #187cb5;
  --logo-gradient: var(--logo-light), var(--logo-dark);
  --header-font-color: white;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --link-color: #2591ce;
  --modal-canvas: rgba(0, 0, 0, 0.5);
  --modal-bg-1: white;
  --modal-bg-2: #cad4d9;
  --modal-gradient: var(--modal-bg-1), var(--modal-bg-2);
  --unclicked-gray: #4e4e4e;
  --poor-card: #ffced9;
  --poor-gradient: var(--modal-bg-1), var(--poor-card);
  --warn-card: #ffeec3;
  --warn-gradient: var(--modal-bg-1), var(--warn-card);
  --good-card: #c3ffdb;
  --good-gradient: var(--modal-bg-1), var(--good-card);
}

/* APP GENERAL --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(var(--main-bg-gradient));
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER --------------------------------------------------------- */

.header {
  background-image: linear-gradient(var(--logo-gradient));
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: var(--header-listed-height);
  padding: var(--header-padding);
}

.header a {
  color: var(--header-font-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  float: left;
}

.header button {
  float: right;
  margin-right: 1em;
  background-color: var(--header-font-color);
  border-radius: 0.5em;
  padding: 0.4em;
  border: none;
  color: #187cb5;
  font-weight: bold;
  opacity: 70%;
}

/* PAGE CONTENT GENERAL --------------------------------------------------------- */

.page-centered {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.top-right {
  position: absolute;
  top: 2em;
  right: 2em;
}

/* .modal-container .top-right {
  top: 1em;
  right: 1em;
} */

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col > * {
  margin: 10px;
}

.header-shift {
  padding-top: calc(var(--header-height) * 1);
  /* position: fixed;
  top: var(--header-height);
  left: 0; */
}

.content-container {
  padding: 1.5em;
  margin: 1em;
  border-radius: 33px;
  box-shadow: 3px 3px 5px 0px var(--shadow-color);
}

.page-container {
  border: 1px solid var(--container-border);
  background-color: var(--container-bg);
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    black,
    black,
    black,
    black,
    rgba(0, 0, 0, 0)
  );
  border: none;
  opacity: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* LOGIN PAGE --------------------------------------------------------- */

.title {
  font-size: 4em;
  background: -webkit-linear-gradient(var(--logo-gradient));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login input[type="text"],
.login input[type="password"],
.login input {
  width: 25em;
  height: 1em;
  padding: 10px;
  border: none;
  background-color: var(--container-bg);
}

.login a,
.login span {
  font-size: 0.8em;
  color: var(--link-color);
}

.login label {
  color: var(--link-color);
  font-weight: bold;
}

.login li {
  font-size: 0.8em;
  font-weight: normal;
  color: black;
}

/* AVATARS --------------------------------------------------------- */

.avatar {
  margin: 1em;
  width: 11em;
  height: 11em;
}

.card .avatar {
  width: 8em;
  height: 8em;
  cursor: pointer;
}

.card .avatar > img {
  transition-duration: 0.2s;
}

.card .avatar > img:hover {
  border-color: #ffe75f;
  border-width: 3px;
  /* opacity: 80%; */
  transform: scale(1.05);
}

.avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid black;
}

/* CARDS --------------------------------------------------------- */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  position: relative;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14em;
  transition-duration: 0.2s;
  background-image: linear-gradient(var(--modal-gradient));
}

.card:hover {
  transform: scale(1.05) translate(0, -10px);
  box-shadow: 5px 10px 10px 0px var(--shadow-color);
  /* border: 1px solid var(--logo-light); */
}

.poor-card {
  background-image: linear-gradient(var(--poor-gradient));
}

.poor-font {
  color: red;
  font-weight: bold;
}

.warning-card {
  background-image: linear-gradient(var(--warn-gradient));
}

.warning-font {
  color: rgb(164, 98, 0);
  font-weight: bold;
}

.good-card {
  background-image: linear-gradient(var(--good-gradient));
}

.good-font {
  color: black;
  font-weight: normal;
}

/* MODAL --------------------------------------------------------- */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modal-canvas);
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: calc(50vh + (0.5 * var(--header-height)));
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 40em;
  height: fit-content;
  max-height: calc(
    0.7 * (100vh - var(--header-height) - (calc(2 * var(--modal-padding))))
  );
  background-image: linear-gradient(var(--modal-gradient));
  border-radius: 33px;
  border: 2px solid white;
  padding: var(--modal-padding);
  overflow-y: scroll;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal .close {
  font-size: 1em;
}

/* BUTTONS --------------------------------------------------------- */

.icon-button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  color: var(--unclicked-gray);
  opacity: 50%;
  cursor: pointer;
}

.icon-button:hover {
  opacity: 100%;
}

/* POPUP --------------------------------------------------------- */

.popup-container {
  position: relative;
}

.popup {
  position: absolute;
  padding: 5px;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-20%, calc(-100% - 15px));
  width: 100px;
  height: fit-content;
  border: 1px solid white;
  border-radius: 10%;
  box-shadow: 3px 3px 5px 0px var(--shadow-color);
  background-image: linear-gradient(var(--modal-gradient));
  display: flex;
  flex-direction: column;
}

.popup button {
  background-color: transparent;
  font-size: 1em;
  border: none;
  border-radius: 10%;
  color: var(--unclicked-gray);
  transition-duration: 0.3s;
  margin: 0.1em;
  cursor: pointer;
}

.popup button:hover {
  background-color: var(--container-bg);
  color: var(--logo-dark);
  /* font-size: 1em; */
  font-weight: bold;
}

/* POPUP --------------------------------------------------------- */

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  /* transition-duration: 0.2s; */
}
