/* FONTS ------------------------------------------------------------ */

/* COLOR VARIABLES -------------------------------------------------- */
:root {
  --bg-blue: #a7d7eb;
  --bg-gray: #ededed;
  --main-bg-gradient: var(--bg-blue), var(--bg-gray);
  --container-border: white;
  --container-bg: rgba(255, 255, 255, 0.65);
  --logo-light: #3fbaff;
  --logo-dark: #187cb5;
  --logo-gradient: var(--logo-light), var(--logo-dark);
  --header-font-color: white;
  --shadow-color: rgba(0, 0, 0, 0.5);
}

/* APP GENERAL --------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(var(--main-bg-gradient));
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER --------------------------------------------------------- */

.header {
  background-image: linear-gradient(var(--logo-gradient));
  position: fixed;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  padding: 0.4em;
}

.header a {
  color: var(--header-font-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  float: left;
}

.header button {
  float: right;
  margin-right: 1em;
  background-color: var(--header-font-color);
  border-radius: 0.5em;
  padding: 0.4em;
  border: none;
  color: #187cb5;
  font-weight: bold;
  opacity: 70%;
}

/* PAGE CONTENT GENERAL --------------------------------------------------------- */

.header-shift {
  margin-top: 3.5em;
}

.content-container {
  background-color: var(--container-bg);
  padding: 1.5em;
  margin: 1em;
  border: 1px solid var(--container-border);
  border-radius: 33px;
}

.page-container {
  box-shadow: 3px 3px 5px 0px var(--shadow-color);
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    black,
    black,
    black,
    black,
    rgba(0, 0, 0, 0)
  );
  border: none;
  opacity: 40%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* AVATARS --------------------------------------------------------- */

.avatar {
  margin: 1em;
  width: 11em;
  height: 11em;
}

.card > .avatar {
  width: 8em;
  height: 8em;
}

.avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid var(--logo-dark);
}
